body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: black;
}

/*.section {
    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px; 
    }

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}*/
.logo, .logo-alternative {
  color: #212121;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav, .item, .address, .feature-list-advantages, .feature-list, .feature-list-team, .social, .clients, .address-list, .social-company {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav-link, .address-link, .footer-address, .company-link {
  text-decoration: none;
  color: currentColor;
}

.container-hero button, .button-submit, .subscribe {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .section-line, .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-line, .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title-advantages, .section-title, .team {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.web-logo {
  color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.page-header {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container {
  background-color: #ffffff;
  text-align: center;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .menu-container {
    border-top: 1px solid #ececec;
    padding-top: 60px;
    padding-bottom: 63px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 767px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 8px;
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.site-nav-link.current {
  position: relative;
  color: #2196f3;
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-animation: line-current 250ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: line-current 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes line-current {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes line-current {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .item-address:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .item-address:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .item-address:not(:last-child) {
    margin-right: 30px;
  }
}

.address-link {
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 14px;
  }
}

.icon {
  fill: currentColor;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .icon {
    margin-right: 8px;
  }
}

.hero {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-img.jpg);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
  }
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.container-hero button {
  border: none;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .container-hero {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 646px;
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 46px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 87px 15px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    left: 50%;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
  }
}

.text-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 1200px) {
  .text-modal {
    line-height: 1.15;
  }
}

.form {
  text-align: center;
}

.form-filed {
  position: relative;
  margin-bottom: 28px;
}

.form-filed > .comments {
  padding: 12px 16px;
}

.form-input {
  width: 100%;
  padding: 12px 18px 12px 42px;
  outline-color: #2196f3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  cursor: pointer;
}

.form-input:not(:last-child) {
  height: 40px;
}

.form-input:focus {
  border-color: rgba(33, 33, 33, 0.2);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label {
  font-size: 12px;
  line-height: 14px;
  color: #2196f3;
  -webkit-transform: translate(-26px, -37px);
          transform: translate(-26px, -37px);
}

.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-26px, -37px);
          transform: translate(-26px, -37px);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .icon-modal {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.text-checkbox {
  display: inline-block;
  padding-left: 23px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .text-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.link-checkbox {
  color: #2196f3;
}

.icom-modal {
  position: absolute;
  top: 11px;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-origin: border-box;
  background-image: url(../images/ok.svg);
  background-size: contain;
}

.checkbox-lable {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.checkbox:checked ~ .checkbox-lable {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.button-submit {
  width: 200px;
  border: 1px solid #2196f3;
  padding: 10px 56px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  background-color: #188CE8;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .icon-close,
.icon-close .close:focus {
  fill: #2196f3;
}

.advantages {
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-list-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .item-advantages:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-advantages {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-advantages {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title-advantages {
  display: none;
  /*position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;*/
}

.section-line {
  display: none;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .section-line {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-work:not(:last-child) {
  margin-right: 30px;
}

.item-work > .link {
  display: block;
  position: relative;
}

.feature-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.section.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .section {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

/*@media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
}*/
@media screen and (min-width: 1200px) {
  .team {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .item-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-team {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-team {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.card {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.card-content {
  background: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 30px 31px 24px 32px;
  text-align: center;
}

.name-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}

.profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.icon-link {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon-link,
.social-link:focus .icon-link {
  fill: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .item-company {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .item-company {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-company {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .icon-link, .clients-link:focus .icon-link {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-footer {
    text-align: start;
  }
}

.logo-alternative {
  color: #ffffff;
}

.address-bottom {
  margin-top: 20px;
}

.text-address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

.footer-address {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .block-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .block-address {
    width: 506px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .join {
    margin-top: 5px;
  }
}

.call {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.social-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.company-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454E;
}

.company-link .icon-footer {
  fill: #ffffff;
}

.company-link:hover, .company-link:focus {
  background-color: #2196f3;
}

.call {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 21px;
}

@media screen and (min-width: 1200px) {
  .call {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .email-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .email {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe {
  padding: 10px 29px;
  max-width: 200px;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */