body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}

.feature-list-advantages, .feature-list, .feature-list-team, .social, .clients {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container-hero button, .button-submit {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
}

.section-line {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title-advantages, .section-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.web-logo {
  color: #2196f3;
}

.hero {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-img.jpg);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
  }
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.container-hero button {
  border: none;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .container-hero {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 646px;
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 46px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px 40px 30px 40px;
}

.form {
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.form-filed {
  position: relative;
  margin-bottom: 28px;
}

.form-filed > .comments {
  padding: 12px 16px;
}

.form-input {
  width: 100%;
  padding: 12px 18px 12px 42px;
  outline-color: #2196f3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  cursor: pointer;
}

.form-input:not(:last-child) {
  height: 40px;
}

.form-input:focus {
  border-color: rgba(33, 33, 33, 0.2);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label {
  font-size: 12px;
  line-height: 14px;
  color: #2196f3;
  -webkit-transform: translate(-26px, -37px);
          transform: translate(-26px, -37px);
}

.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-26px, -37px);
          transform: translate(-26px, -37px);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .icon-modal {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.text-checkbox {
  display: inline-block;
  padding-left: 23px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.link-checkbox {
  color: #2196f3;
}

.icom-modal {
  position: absolute;
  top: 11px;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-origin: border-box;
  background-image: url(../images/ok.svg);
  background-size: contain;
}

.checkbox-lable {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.checkbox:checked ~ .checkbox-lable {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.button-submit {
  width: 200px;
  border: 1px solid #2196f3;
  padding: 10px 56px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  background-color: #188CE8;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .icon-close,
.icon-close .close:focus {
  fill: #2196f3;
}

.advantages {
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-list-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .item-advantages:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-advantages {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-advantages {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title-advantages {
  display: none;
  /*position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;*/
}

.section-line {
  border-top: 1px solid #ececec;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .section-line {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-line {
    display: block;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-work:not(:last-child) {
  margin-right: 30px;
}

.item-work > .link {
  display: block;
  position: relative;
}

.feature-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.section.team {
  background-color: #f5f4fa;
}

/*@media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
}*/
@media screen and (min-width: 768px) {
  .feature-list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .item-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-team {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-team {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.card {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.card-content {
  background: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 30px 31px 24px 32px;
  text-align: center;
}

.name-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}

.profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.icon-link {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon-link,
.social-link:focus .icon-link {
  fill: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */