.section {
  @extend %section;
}

.container {
    @extend %container;

    .section-title {
        color: $title-text-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
      
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 50px;
      }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;

  .title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.advantages {
  max-width: 270px;
  max-height: 120px;
  text-align: center;
  border-radius: 4px;

  background-color: $bg-team-color;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.item-advantages {
  .feature-list & {
    width: 270px;
  }

  .feature-list &:not(:last-child) {
    margin-right: 30px;
  }

  .text {
    color: $primery-text-color;
    font-size: 14px;
    line-height: 1.71;
  
    margin-top: 0;
    margin-bottom: 0;
  }

}