.hero {
    background-color: $bg-hero-color;
    background-image: linear-gradient(to right, $bg-hero-color,
        $bg-hero-color
      ),
      url(../images/Header-img.jpg);
  
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;

}

.container-hero {
    margin-left: auto;
    margin-right: auto;
    width: 646px;
    text-align: center;
  
    padding-top: 200px;
    padding-bottom: 200px;

    button {
        @extend %button;
        border: none;
        padding: 10px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }
  }

  .hero-title {
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    margin-top: 0;
    margin-bottom: 46px;
  }