.join {
    width: 206px;
  }

  .call {
    display: block;
    color: $white-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 21px;
  }

  .social-company {
    display: flex;
  }

  .social-footer-item:not(:last-child) {
    margin-right: 10px;
}

.company-link {
    display: flex;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $social-footer-color;

    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $accent-color;
        }
}

.icon-footer {
    fill: $white-color;
}