.container {
    @extend %container;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.item {
    position: relative;

    &:not(:last-child) {
        margin-right: 45px;
    }
  }

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.link {
    @extend %link;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.site-nav-link {
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.link.current {
    
    color: $accent-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background-color: $corrent-color;
        border-radius: 2px;
        
        animation: line-current 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
}
@keyframes line-current{
    from{
        transform: scaleY(0);
    }
    to{
      transform: scaleY(1);;
    }
  }

