.clients {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin: -15px;

    // @media screen and (max-width: 767px) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin: -15px;
    // }

    // @media screen and (min-width: 768px) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin: -15px;
    // }

    // @media screen and (min-width: 1200px) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin: -15px;
    // }
}

.clients-link {
    display: flex;
    margin: 15px;

    justify-content: center;
    align-items: center;

    border: 1px solid $social-color;
    box-sizing: border-box;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        width: 210px;
        height: 90px;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
        height: 90px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 90px;
    }
}

