%logo-setting {
    color: $title-text-color;
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  text-decoration: none;
  color: currentColor;
}

%button {
    color: $white-color;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
  
    min-width: 200px;
  
    cursor: pointer;
}

%container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  %section {
       @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px; 
      }
  
      @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
      }
  }

%section-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
}