$primery-text-color: #757575;
$title-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$white-color: #ffffff;
$footer-bottom-color: rgba(255, 255, 255, 0.6);
$pg-background-color: #e5e5e5;
$bg-footer-color: #2f303a;
$bg-team-color: #f5f4fa;
$bg-hero-color: rgba(47, 48, 58, 0.8);
$social-color: #AFB1B8;
$social-footer-color: #44454E;
$corrent-color: #2196F3;
$border-form-footer: rgba(255, 255, 255, 0.3);
$bg-modal-icon: rgba(0, 0, 0, 0.2);
$border-color-input: rgba(33, 33, 33, 0.2); 
$bt-background-color: #F5F4FA;
$hover-background-color: rgba(33, 150, 243, 0.9);
$border-close:rgba(0, 0, 0, 0.1);
$page-header: #ececec;
$bg-submit:#188CE8;
$bg-footer:#2f303a;
$bg-footer-company:#44454E;
$bg-button:#ccc;
$bg-item-portfolio:#EEEEEE;
